$light-main-color: #fff;
$light-primary-color: #FFC84F;
// $light-secondary-color: #ffbebe;
$light-ternary-color: #f9f8e6;

$dark-main-color: #171717;
$dark-secondary-color: #606060;
$dark-ternary-color: #8e8e8e;
$dark-primary-color: #464646;
