$light-main-color: #fff;
$light-primary-color: #F7C815;
$light-secondary-color: #EC9704;
$light-ternary-color: #f9f8e6;

$dark-main-color: #171717;
$dark-primary-color: #464646;
$dark-secondary-color: #dedede;
$dark-ternary-color: #8e8e8e;
