$light-main-color: #fff;
$light-primary-color: #ff7a8a;
$light-secondary-color: #ffbebe;
$light-ternary-color: #f9f8e6;

$dark-main-color: #171717;
$dark-secondary-color: #606060;
$dark-ternary-color: #797979;
$dark-primary-color: #464646;
