<div class="footer-outer">
  <div class="footer-inner">
    <div class="footer-contact flex-item">
      <h3 class="title">Contacts</h3>
      <table>
        <tr>
          <td class="contact-name">Address:</td>
          <td>
            <a href="https://maps.app.goo.gl/NWSvSwz6RAaZjNHZ8" target="_blank">
              <span>Kraków, Karola Szymanowskiego 15, 33-332</span><br>
              <span class="description">(w budynku pizza i pab "G-O")</span>
            </a>
          </td>
        </tr>
        <tr>
          <td class="contact-name">Phone:</td>
          <td>
            <a href="tel:example@gmail.com" target="_blank">+48 123 456 7890</a>
          </td>
        </tr>
        <tr>
          <td class="contact-name">Email:</td>
          <td>
            <a href="mailto:example@gmail.com" target="_blank">example&#64;gmail.com</a>
          </td>
        </tr>
        <tr>
      </table>
    </div>

    <div class="footer-logo flex-item">
      <object type="image/svg+xml" data="../../../assets/img/logo/logo8-5.svg" alt="logo" width="300px"
        height="70px"></object>
      <ul class="list social-list">
        <li class="social-item insta">
          <a class="link" href="https://www.instagram.com/" target="_blank"></a>
        </li>
        <li class="social-item fb">
          <a class="link" href="https://www.facebook.com/" target="_blank"></a>
        </li>
        <li class="social-item tik-tok">
          <a class="link" href="https://www.tiktok.com/" target="_blank"></a>
        </li>
      </ul>
    </div>

    <app-working-hours class="working-hours flex-item"></app-working-hours>
  </div>
</div>
