@import '../../styles/colors.scss';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@import '../../styles/colors.scss';

:host {
  color: $light-main-color;
}

.header-outer {
  width: 100vw;
  height: 5rem;
  background-color: $dark-main-color;
  display: flex;
  justify-content: center;
}

.header-inner {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2.5rem;
}



