@import "../../../../styles/colors.scss";

.home-outer {
  width: 100vw;
  height: 50rem;
  background-image: url('/assets/img/ctnt/2.png');
  background-repeat: no-repeat;
  background-size: cover;
  // background-position-x: 20vw;
}

.svg-icon {
  path {
    stroke: red;
  }
}
