@import "../../../../styles/colors.scss";

.container {
  display: flex;
  flex-direction:column;
  justify-content: end;
  align-items: flex-end;
}

.title {
  padding-right: .7rem;
  text-align: end;
}

table {
  font-size: smaller;
  border-spacing: .75rem;

  .name {
    color: $dark-ternary-color;
  }
}
