<div class="inner">
  <h3 class="title">contact us</h3>

  <div class="container">
    <ul class="contact-list">
      <li class="contact-list-item location">
        <h4>location</h4>
        <p>
          <span>Kraków, Karola Szymanowskiego 15, 33-332. </span>
          <span>Wejście w budynku pizza i pab "G-O"</span>
        </p>
      </li>
      <li class="contact-list-item phone">
        <h4>PHONES</h4>
        <p>
          <span class="display-block">+48 123 456 7890</span>
          <span class="display-block">+48 123 456 7890</span>
        </p>
      </li>
      <li class="contact-list-item email">
        <h4>EMAIL</h4>
        <p>
          <span class="display-block">info&#64;example.com</span>
          <span class="display-block">info&#64;example.com</span>
        </p>
      </li>
    </ul>
  </div>

  <h3 class="title">Get in touch</h3>
  <div class="map-container">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10244.19127504274!2d19.9228729!3d50.0666661!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47165b57750b6b1d%3A0xe83da3ef1c7cb9e9!2sGood%20Bona!5e0!3m2!1sen!2spl!4v1712589303118!5m2!1sen!2spl"
      width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</div>
