@import './styles/colors.scss';
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $light-main-color;
  overflow: hidden;
}
